<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ExpensesDb"
         connectionString="Server=127.0.0.1,1433;Database=ExpensesDev;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
