<?xml version="1.0"?>
<!--
  Copy these entries into the existing Web.config.
  Replace the connection string and stored procedure names if your app already uses different names.
-->
<configuration>
  <connectionStrings>
    <add name="generalUniversityDB"
         connectionString="Data Source=DESKTOP-2OC4RDU;Initial Catalog=UniversityDBiap;Integrated Security=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Optional: point the chatbot to an existing connection string name. -->
    <add key="ExpenseChatbot.ConnectionStringName" value="generalUniversityDB" />

    <!-- Optional limits. -->
    <add key="ExpenseChatbot.CommandTimeoutSeconds" value="30" />
    <add key="ExpenseChatbot.MaxRows" value="50" />
    <add key="ExpenseChatbot.IntentConfidenceThreshold" value="0.35" />
    <add key="ExpenseChatbot.ShowDetailedErrors" value="false" />

    <!-- Optional stored procedure overrides. -->
    <add key="ExpenseChatbot.FileLinks.StoredProcedure" value="dbo.Chatbot_GetFileLinks" />
    <add key="ExpenseChatbot.FileLinks.ParameterName" value="@SearchText" />

    <add key="ExpenseChatbot.InvoiceExpenseCode.StoredProcedure" value="dbo.Chatbot_GetInvoiceExpenseCodes" />
    <add key="ExpenseChatbot.InvoiceExpenseCode.ParameterName" value="@InvoiceNumber" />

    <add key="ExpenseChatbot.PersonExpenses.StoredProcedure" value="dbo.Chatbot_GetPersonExpenses" />
    <add key="ExpenseChatbot.PersonExpenses.ParameterName" value="@PersonName" />

    <add key="ExpenseChatbot.ExpenseNetValue.StoredProcedure" value="dbo.Chatbot_GetExpenseNetValue" />
    <add key="ExpenseChatbot.ExpenseNetValue.ParameterName" value="@SearchText" />

    <add key="ExpenseChatbot.FixedAssetsByAccount.StoredProcedure" value="dbo.Chatbot_GetFixedAssetsByAccount" />
    <add key="ExpenseChatbot.FixedAssetsByAccount.ParameterName" value="@SearchText" />

    <add key="ExpenseChatbot.PersonPaymentTotal.StoredProcedure" value="dbo.Chatbot_GetPersonPaymentTotal" />
    <add key="ExpenseChatbot.PersonPaymentTotal.ParameterName" value="@SearchText" />

    <add key="ExpenseChatbot.StudentRevenueSummary.StoredProcedure" value="dbo.Chatbot_GetStudentRevenueSummary" />
    <add key="ExpenseChatbot.StudentRevenueSummary.ParameterName" value="@SearchText" />
  </appSettings>
</configuration>
