<?xml version="1.0"?>
<!-- Copy these entries into the existing adminmodeluniversitiy Web.config. -->
<configuration>
  <connectionStrings>
    <add name="generalUniversityDB"
         connectionString="Data Source=DESKTOP-2OC4RDU;Initial Catalog=UniversityDBiap;Integrated Security=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="ExpenseChatbot.ConnectionStringName" value="generalUniversityDB" />
    <add key="ExpenseChatbot.CommandTimeoutSeconds" value="30" />
    <add key="ExpenseChatbot.MaxRows" value="50" />
    <add key="ExpenseChatbot.IntentConfidenceThreshold" value="0.35" />
    <add key="ExpenseChatbot.ShowDetailedErrors" value="false" />

    <add key="ExpenseChatbot.AccountRelatedExpenses.StoredProcedure" value="dbo.Chatbot_GetAccountRelatedExpenses" />
    <add key="ExpenseChatbot.AccountRelatedExpenses.ParameterName" value="@SearchText" />

    <add key="ExpenseChatbot.FixedAssetsTotal.StoredProcedure" value="dbo.Chatbot_GetFixedAssetsTotal" />
    <add key="ExpenseChatbot.FixedAssetsTotal.ParameterName" value="@SearchText" />

    <add key="ExpenseChatbot.BuildingsTotal.StoredProcedure" value="dbo.Chatbot_GetBuildingsTotal" />
    <add key="ExpenseChatbot.BuildingsTotal.ParameterName" value="@SearchText" />

    <add key="ExpenseChatbot.AccountingExpensesTotal.StoredProcedure" value="dbo.Chatbot_GetAccountingExpensesTotal" />
    <add key="ExpenseChatbot.AccountingExpensesTotal.ParameterName" value="@SearchText" />
  </appSettings>
</configuration>
